{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

body{
    background-color: black;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    background-color:black;
}
.sidebar{
  background-color: black;   
  width: 320px;
  border-radius: 1rem;
  margin-right: 0.5rem;

  display: flex;            
  flex-direction: column;
  gap: 10px;                 
.main-content{
    background-color:;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;

}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  padding: 0.5rem;
}
.nav-option{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.5rem 0.7rem;
    line-height: 2.5rem;
    opacity: 0.7;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
    color: #fff;
    
}
.nav-option a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.library{
  background-color: #121212;   
  border-radius: 1rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* header (Your Library + icons) */
.option{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* library text + icon */
.lib-option{
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.4;
}
.lib-option img {
  width: 20px;
  height: auto;
}

.lib-option a {
  font-size: 14px;
  color: #fff;
}
.icons i {
  color: #b3b3b3;   /* light gray (Spotify style) */
  font-size: 16px;
  margin-left: 10px;
  transition: 0.2s;
}
.icons i:hover {
  color: #fff;   /* white on hover */
  cursor: pointer;
}
/* boxes container */
.lib-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* card */
.box {
  background-color: #232323;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* text */
.box-p1 {
  font-size: 0.95rem;
  font-weight: 600;
}

.box-p2 {
  font-size: 0.8rem;
  opacity: 0.8;
}

/* button */
.badge {
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  width: fit-content;
  margin-top: 0.5rem;
}